* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body {
  height: 100%;
  width: 100%;
}


.nav2{
  display: flex;
  gap: 30px;
}

.light{
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.dark{
  background-color: darkgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}